stages:
  - test
  - deploy

test-mypy:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.10
  stage: test
  when: manual
  script:
    - mypy src

test-pylint:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.10
  stage: test
  when: manual
  script:
    - pylint src

pypi-upload:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.10
  stage: deploy
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - pip install build twine --quiet
    # Build
    - python -m build
    # Upload to local package repository
    - python -m twine upload --username gitlab-ci-token --password "${CI_JOB_TOKEN}" --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
    # Upload to pypi.org
    - python -m twine upload --username "__token__" --password "${PYPI_TOKEN}" dist/*
